.printersInfo {
    padding: 30px 0;
}
.operatorInfo {
    padding: 30px 0;
}
.operator_name,
.printer_name{
    margin: 20px 0;
    font-size: 22px;
}

.printer_connect{
    width: 33%;
}

.goodsInfo {
    display: none;
    flex-direction: column;
    padding: 30px 0;
}
.userInfo {
    display: flex;
    align-items: flex-end;
    padding: 30px 0;
}

.goodsAll {
    width: 40%;
    height: fit-content;
    min-height: 150px;
    border: thin solid cadetblue;
    margin-right: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.goodsGet {
    width: 33%;
}
.success {
    background: #00CC00;
}
.fail {
    background: red;
}
.goodsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}